# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules

# testing
/coverage

# Build
.next
out
build

# IDE
.vscode
.idea

# OS
.DS_Store

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env.local
.env.*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
